$otp-group-header-text-decoration-color: #00549f;

$delete-bg-color: #dc3545;
$delete-bg-disabled-color: #dc3545;
$delete-color: #fff;

$add-bg-color: #28a745;
$add-bg-disabled-color: #198754;
$add-color: #fff;

$overlay-background-color: rgba(17, 26, 43, 0.8);
$overlay-z-index: 10000;

$search-container-maincolor: rgba(20, 20, 20, 0.9);
$search-container-fontcolor: #fff;
$search-container-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px, 0px 20px 80px 0px rgba(0, 0, 0, 0.5);
$search-container-hr-span-color: rgb(46, 49, 76);
$search-container-li-color: rgb(186, 186, 186);
$search-container-li-hover-color: rgba(255, 255, 255, 0.05);
$search-container-li-focus-color: rgb(83, 78, 88);